.margin{
	margin:10px !important;
}

h1 {
	padding-top: 50px !important;
}

@media (min-width: 1024px) {
.wider {
	min-width: 30em !important;
}
}


body {
  margin: 0;
}
.stage {
  animation: animateBg 30s linear infinite;
  background-image: linear-gradient(0deg,#cf5c5c,#c19b4a,#42eca6,#64b3d9,#208ea2,#498ada,#5b73df,#897ed3,#cf5c5c);
  background-size: 100% 1100%;

}
@keyframes animateBg {
  0% { background-position: 0% 0%; }
  100% { background-position: 0% 100%; }
}

.field{
	background :none !important
}